@charset "UTF-8";

body {
    background:linear-gradient(90deg, #d4a5a5, #9bc4a0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px;
    font-size: 1.2em;
    text-align: justify;
    color: #4a3a3a;
    margin: auto;
    max-width: 950px;
}
   
h1#principal {
    color: #3b2f2f;
    text-align: center;
    background: #e59797;
    padding: 20px;
    border-radius: 10px;
   
}  

.basico {
    color: #4a3a3a;
    background: #b8e8b8;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 0 25px 0;
    
}

.intermediario {
    color: #4a3a3a;
    background: #e8b8b8;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 0 25px 0;
   
}

.avançado {
    color: #4a3a3a;
    background: #b8b8e8;
    padding: 10px 20px;
    border-radius: 8px;
    margin: 10px 0 25px 0;
   
}

h2 {
    color: #4a3a3a;
    background: #e8e8b8;
    padding: 15px 25px;
    border-radius: 8px;
    margin: 10px 0 25px 0;
    
}

p {
    color: #000000;
    background-color: rgba(170, 170, 170, 0.438);
    padding: 15px 20px;
    border-radius: 8px;
    
    
}
.caixa {
    background-color: #fffccd;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
