body {
            background: linear-gradient(90deg, #021133, #39366C, #6F3881);
            text-align: center;
            background-attachment: fixed;
            max-width: 900px;
            margin-left: auto;
            margin-right: auto;
        }

        h1 {
            font: italic bolder 3em 'Bebas Neue', Arial, Helvetica, sans-serif;
            color: #021133; /* preto-azulado da paleta */
            background-color: #D12C8F; /* tom claro para contraste */
            letter-spacing: 1px;
        }

        h2 {
            font: bold 2em 'Bebas Neue', Arial, Helvetica, sans-serif;
            color: #021133;
            background-color: #D12C8F; /* tom claro para contraste */
            letter-spacing: 1px;
        }

        p {
            font: normal 1em Arial, Helvetica, sans-serif;
            background-color: #DC78C7; /* tom claro para contraste */
            color: #021133;
            border-radius: 0.7em;
            padding: 18px;
            margin: 18px 0;
        }

        .caixa {
            background-color: #fffccd;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }
