@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body, html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(204, 204, 204);
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}
header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: rgb(129, 129, 129);
    border: 1px solid black;
}
header > h1 {
    color: white;
    flex: 0 0 200px;
}
header > nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    
}
header > nav > a {
    display: flex;
    color: white;
    background-color: black;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    text-decoration: none;
    align-items: center;
    justify-items:center;
}
nav > a:hover {
    color: black;
    border: 2px solid rgb(0, 0, 0);
    background-color: white;
    transition: 0.5s;
}
main {
    width: 80vw;
    margin: auto;
    background-color: white;
    padding: 10px;
    margin-top:10px;
    border-radius: 10px;
    border: 1px solid black;
}
main, h1 {
    text-align: center;
    padding-top: 20px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 20px;
    text-indent: 20px;
}