@font-face {
    font-family: 'Nexa';
    src: url('Nexa-Heavy.ttf') format('truetype');
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:wght@500&display=swap');

body {
        font-family: 'Nexa', sans-serif;
        text-align: justify;
        text-indent: 1em;
        font-size: 1em;
        color: #2B2D42;
        background-attachment: fixed;
        background: linear-gradient(90deg, #4d0042 0%, #5c020c 60%,   #63004d 100%);
        max-width: 900px;
        margin: auto;
   
     }

h1 {
        font-family: 'LemonMilk', sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 3em;
        text-align: center;
        color: #EDF2F4;
        background: linear-gradient(90deg, #EF233C, #D90429);
        border-radius: 10px;
        padding: 10px;
        

     }
 
h2 {
        font-family: 'LemonMilk', sans-serif;
        font-weight: bold;
        font-style: italic;
        font-size: 2.2em;
        text-align: center;
        color: #ffffff;
        background: linear-gradient(90deg, #EF233C, #9c1e1e);
        border-radius: 16px;
        padding: 10px;
     }
p {
        font-family: 'Nexa', sans-serif;
        color: #000000;
        background: linear-gradient(90deg, #EDF2F4 60%, #ffffff 100%);;
        border-radius: 7px;
        padding: 10px;

    }
p.dir { 
            text-align:right
        }
p.meio { 
            text-align:center;
        }

p.esq { 
            text-align: left;
        }
        
     
a {
        font-family: 'PT Sans', sans-serif;
        color: #0077ff;
        background-color: #ffffff;
        border-radius: 7px;
        padding: 10px;
          
     }