body {
    background-image: linear-gradient(90deg, #042940, #005C53, #9FC131);
    background-attachment: fixed;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

h1 {
    color: #DBF227;
    font-size: 3em;
    text-align: center;
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #042940;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

h2 {
    color: #D6D58E;
    font-size: 2em;
    text-align: center;
    font-family: 'Arial', sans-serif;
    margin-top: 15px;
    background-color: #005C53;
    border-radius: 30px;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

p {
    color: #042940;
    background-color: #DBF227;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    margin-top: 10px;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    line-height: 1.5;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

.botao {
    display: inline-block;
    background-color: #9FC131;
    color: #042940;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.0em;
    margin-top: 20px;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
    
}
.botao:hover {
    background-color: #DBF227;
    color: #005C53;
}

ul {
    color: #042940;
    font-size: 1.2em;
    font-family: 'Arial', sans-serif;
    background-color: #D6D58E;
    text-align: center;
    line-height: 1.5;
    margin-right: auto;
    margin-left: auto;
    max-width: 900px;
}

